* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    height: 145vh;
    width: 100%;
    line-height: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../media/1.png);
    /* background-repeat:no-repeat; */
    background-size: cover;
    background-position: center;
    position: relative;
}

h1 {
    margin: 0px 20px 0px 20px;
    font-size: 15px;
    color: antiquewhite;
    margin-bottom: 1px;
    margin-top: 0px;
    line-height: 3px;
}

.logo {
    width: 25px;
    height: 22px;
}

.navbar {
    font-size: 15px;
    width: 88%;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: hsl(0, 26%, 95%);
    font-size: 15px;
}

.navbar ul li a p {
    color: rgb(184, 184, 45);
}

h2 {
    padding: 5px;
    margin: 0 50px;
    color: whitesmoke;
    font-size: 35px;
    font-weight: 100;
}

h3 {
    margin: 0 90px;
    font-family: 'Moo Lah Lah', cursive;
    font-size: 60px;
    font-weight: 150;
    color: rgb(63, 92, 6);
    line-height: 50px;
}

h5 {
    margin: 0 50px;
    padding: 15px;
    color: whitesmoke;
    font-size: 13px;
    line-height: 15px;
}

button {
    margin: 0px 40px 10px 40px;
    box-sizing: 30px;
}

.menu {
    background-color: rgb(163, 122, 10);
    font-weight: bold;
    padding: 4px;
    height: 30px;
    width: 100px;
    flex-basis: 20em;
    justify-content: center;
    align-items: center;
}

.booking h4 {
    background-color: transparent;
    font-weight: bold;
    margin: 10px;
    color: rgb(163, 122, 10);
    height: 30px;
    width: 100px;
    padding: 4px;
    flex-basis: 20em;
    justify-content: center;
    align-items: center;
    border-color: rgb(163, 122, 10);
    ;
    border-width: 4px;
}

.contain {
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    background-color: grey;
    height: 65vh;
    width: 100%;
}

.box-1 {
    display: flex;
    flex-direction: row;
    border: 2px solid whitesmoke;
    background-color: rgb(198, 201, 204);
    height: 22vh;
    width: 100%;
    list-style: none;
    text-align: center;
    line-height: 15px;
}

.box-1 img {
    width: 30px;
    height: 30px;
}

.box-3 {
    background-color: rgb(245, 245, 252);
    border: 2px solid white;
    box-align: center;
    height: 16vh;
    width: 18%;
    margin: 10px 45px 10px 260px;
}

.box-4 {
    background-color: rgb(245, 245, 252);
    border: 2px solid white;
    height: 16vh;
    width: 18%;
    margin: 10px 50px 10px 10px;
}

.box-5 {
    background-color: rgb(245, 245, 252);
    border: 2px solid white;
    height: 16vh;
    width: 18%;
    margin: 10px 50px 10px 10px;
}

.box-1 ul {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    list-style: none;
    margin: 0 15px;
}

.box-1 ul li {
    font-size: 10px;
    line-height: 10px;
}

.box-2 {
    display: flex;
    flex-direction: row-reverse;
    background-color: #f1eaeaea;
    height: 43vh;
    width: 100%;
    list-style: circle;
}

.box-6 {
    height: 28vh;
    width: 30%;
    margin: 0px 150px 0px 150px;
}

.box-6 img {
    width: 50%;
    height: 40vh;
}

.box-7 {
    height: 28vh;
    width: 45vh;
    color: black;
    font-size: 16.5px;
    line-height: 33px;
    font-style: initial;
    text-align: stretch;
    margin: 0px 0px 0px 200px;
    list-style: circle;
}

.box-7 li {
    margin: 15px 20px 10px 0;
}

.call div {
    line-height: 10px;
}

.dfd {
    text-align: center;
    font-size: 20px;
    color: antiquewhite;
    padding: 8px;
    margin: 28px 0 0 0;
}

.dfd phone {
    color: yellow;
}

.call ul li {
    text-align: center;
    list-style: none;
    display: inline-block;
    justify-content: space-around;
}

.booking {
    background-color: transparent;
    font-weight: bold;
    margin: 10px;
    color: rgb(156, 118, 13);
    height: 30px;
    width: 100px;
    padding: 2px;
    flex-basis: 20em;
    justify-content: center;
    align-items: center;
    border-color: rgb(163, 122, 10);
    ;
    border-width: 4px;
}

.contact {
    margin: 10px;
    background-color: rgb(156, 118, 13);
    font-weight: bold;
    padding: 2px;
    height: 30px;
    width: 100px;
    flex-basis: 20em;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 550px;
}